*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(237,236,244,255);
}
.mT4{
    margin-top: 4%;
}
.mT10{
    margin-top: 10%;
}
.mR3 {
    margin-right: 3%;
}
.mL10{
    margin-left: 10%;
}
.danger {
    color: red;
}
.alert_danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    width: fit-content;
    padding: 10px;
}
.alert_success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    width: fit-content;
}
.alert_cross{
    color: black;
}
.alert_cross:hover{
    cursor: pointer;
}
.container{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.left{
    width: 100%;
    height: 100%;
    margin-right: 5%;
}
.leftImg {
    width: 100%;
    height: 100%;
}
.right{
    width: 100%;
    /* background-color: blue; */
}

.rightForm{
    display: flex;
    flex-direction: column;
}

.inputBoxOuterDiv {
    width: 73%;
    display: flex;
}
.nameInputBox{
    width: 50%;
}
.inputBox1{
    display: flex;
}

.signInBtnOuterDiv{
    align-items: center;
    justify-content: end;
    display: flex;
    width: 100%;
    height: 10%;
}
.signInBtn{
    font-size: 12px;
    font-weight: bold;
    width: fit-content;
    color: #3F27D7;
    border: 1px solid #3F27D7;
    padding: 5px;
    border-radius: 4px;
    margin-top: 5%;
    margin-right: 15%;
    padding-left: 15px;
    padding-right: 15px;
}
.signInBtn:hover{
    cursor: pointer;   
}

.headingTxt{
    color: #3F27D7;
}

.commonInput1, .commonInput2{
    width: 100%;
    padding: 6px;
    border: 1px solid grey;
    border-radius: 4px;
}

.commonInput2 {
    width: 73%;
}

.submitBtnDiv{
    width: 73%;
}

.submitBtn{
    background-color: #3f27d7;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 10px;
    width: 100%;
}

.submitBtn:hover{
    cursor: pointer;   
}

.hidden{
    display: none;
}